.sign-in {
  width: 60vw;
  min-width: 400px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 2px 2px rgba(100, 100, 100, 0.4);
  margin: 100px auto 100px auto;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(100, 100, 100, 0.2);
}

.sign-in-header {
  font-weight: 300;
  font-size: 36px;
}

.sign-in-button {
  background-color: rgb(64, 64, 221);
  color: white;
  font-weight: 400;
  width: 300px;
  padding: 10px 30px;
  border-radius: 5px;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sign-in-example {
  margin-top: 8px;
  color: rgb(64, 64, 221);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.sign-in-button:hover {
  cursor: pointer;
}

.sign-in-icon {
  width: 50px;
  margin-right: 10px;
}

.sign-in-button-text {
  flex-grow: 1;
}

.sign-in-break {
  width: 90%;
  background-color: rgba(100, 100, 100, 0.2);
  height: 1px;
  margin: 5px auto 80px auto;
}

.no-sign-in {
  margin-top: 100px;
}

.no-sign-in-button {
  background-color: grey;
}
