@media (min-width: 1300px) {
  .events-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    grid-column-gap: 10px;
  }
}

@media (max-width: 1300px) {
  .events-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}

#events-container {
  min-width: 500px;
}

.event-list-item {
  display: inline-block;
}

.event-team {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-column-gap: 2px;
}

.team-name {
  font-size: 18px;
}

.fav-star {
  width: 25px;
  padding-right: 5px;
  transition: opacity 0.3s ease-in-out;
}

.selected {
  opacity: 0.8;
}
.unselected {
  opacity: 0.25;
}
.unselected:hover {
  cursor: pointer;
  opacity: 1;
}

#fav-tooltip {
  font-size: 20px;
}

.time-display {
  margin-bottom: 10px;
  font-weight: 100;
  text-align: left;
  font-family: "Inconsolata", monospace;
  font-size: 18px;
}
