.header {
  height: 100px;
  width: 100%;
  display: grid;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  grid-template-columns: 1fr 5fr 1fr;
  font-weight: 200;
  min-width: 400px;
  color: #eeeeee;
}

.header-title {
  font-weight: 100;
  font-size: 50px;
}

.header-sign-out {
  background-color: transparent;
  width: 100%;
  height: 100%;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.header-sign-out:hover {
  cursor: pointer;
  background-color: #acacac;
  color: black;
}

.header-options {
  font-size: 18px;
  padding: 5px;
}

.user-name {
  font-weight: bold;
}
